.linkBox-container {
  /* margin: 1rem auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.linkBoxes {
  min-width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.linkbox {
  padding: 0.5rem;
  min-width: 250px;
}

.linkbox button {
  width: 100%;
  font-weight: lighter;
}

button {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 15px;
  padding: 0.7rem 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  transition: 0.2s all ease-in-out;
  background-color: transparent;
  font-weight: bold;
  color: var(--secondary-color);
}

button>div {
  padding-right: 5px;
}

button:hover {
  transform: scale(1.03);
  cursor: pointer;

  .link-icon {
    color: var(--primary-color);
  }
}

button>span {
  opacity: 0;
}

button:hover>span {
  opacity: 1;
}

.link-icon {
  color: var(--secondary-color);
}

.link-icon :hover {
  color: var(--primary-color);
}
