.projects-container {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.projects-heading {
  padding: 1rem 0;
  color: var(--primary-color);
}

.projects-heading h1 {
  font-weight: 300;
}

/* .projects-body-btn button {
  font-weight: 200;
} */
