.aboutMe {
  padding-top: 3rem;
}

.aboutMe-heading h1 {
  color: var(--primary-color);
  font-weight: 300;
}

.ab-bio {
  padding: 1rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0, rgba(0, 0, 0, 0.1) 0 0 1px 0;
  background: #eee2;
  margin-bottom: 1rem;
  color: var(--light-primary);
  font-weight: lighter;
  width: 35rem;
  text-align: left;

  .ab-bio-heading {
    display: flex;
    justify-content: space-between;
  }
}

.ab-bio-heading {
  padding-bottom: 0.2rem;
  font-size:0.8rem;
}

.ab-bio-info {
  padding: 1rem 0;
  font-size: 0.8rem;
}

.ab-bio-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.detail-role {
  padding: 1rem 0;
}
